
@{
    ViewBag.Title = "Report";
    Layout = "~/Views/Shared/_Layout - LogedIn.cshtml";
}

<h2>View monthly income report</h2>

<form action="/Income/Report" method="get" class="form-inline" style="margin:30px auto">
    <div class="form-group mb-4" style="margin-right: 15px">
        <select id="month" name="month" class="form-control" required>
            <option selected value="">-- Month --</option>
            @foreach (var month in ViewBag.Months)
            {
                <option value="@month.Value">@month.Text</option>
            }
        </select>
    </div>

    <div class="form-group mb-4"  style="margin-right: 15px">
        <select id="year" name="year" class="form-control" required>
            <option selected value="">-- Year --</option>
            @foreach (var year in ViewBag.Years)
            {
                <option value="@year">@year</option>
            }
        </select>
    </div>

    <button type="submit" class="btn btn-primary mb-4">Show</button>
</form>

@if (Convert.ToInt32(ViewBag.Status)==2)
{
    <div class="alert alert-success">@ViewBag.Records data found</div>
}
else if(Convert.ToInt32(ViewBag.Status) == 1)
{
    <div class="alert alert-warning">Sorry! No data found</div>
}

@{
    if (ViewBag.IncomeMonthlyList != null)
    {
              <div>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Date</th>
                                <th scope="col">Amount</th>
                                <th scope="col">Cash/Cheque</th>
                                <th scope="col">Cheque Details</th>
                                <th scope="col">Perticular</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                int i = 1;
                                foreach (DailyInEx.Models.ViewModel.IncomeMonthlyViewModel data in ViewBag.IncomeMonthlyList)
                                {
                                    <tr>
                                        <th scope="row">@i</th>
                                        <td>@data.Date.ToShortDateString()</td>
                                        <td>@data.Amount</td>
                                        @if (data.Cash)
                                        {
                                            <td>Cash</td>
                                            <td>NA</td>
                                        }
                                        else if (data.Cheque)
                                        {
                                            <td>Cheque</td>
                                            <td>Cheque No: @data.ChequeNo<br />Bank: @data.BankName</td>
                                        }
                                        <td>@data.Particular</td>
                                    </tr>
                                    i++;
                                }
                            }
                        </tbody>
                    </table>
                </div>
                                
        }


                                
}